<md-content flex layout="row" ng-cloak>
    <div flex="80">
        <p>Horno</p>

        <p>
            <label>Tostem 1
                <select ng-model="furnace.tostemA">
                    <option ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}"
                            value="{{tostem._id}}">{{tostem.id}}
                    </option>
                </select>
            </label>
        </p>

        <p>
            <label>Tostem 2
                <select ng-model="furnace.tostemB">
                    <option ng-repeat="tostem in global.inventory.tostems | filter:{in_use:false}"
                            value="{{tostem._id}}">{{tostem.id}}
                    </option>
                </select>
            </label>
        </p>
        <p>
            <md-button class="md-raised"
                       ng-click="btnFurnace()"
                       ng-disabled="(furnace.tostemA === furnace.tostemB) || furnace.tostemA==='' || furnace.tostemB===''">
                <md-icon>flight_land</md-icon>
                {{ 'textCombineInFurnace' | translate }}
            </md-button>
        </p>
    </div>

    <div flex="20">
        <p>Armería</p>

        <p>Armas</p>

        <p ng-repeat="weapon in global.inventory.weapons | filter:{equipped:false}">
            {{weapon.name}}
        </p>

        <p>Armaduras</p>

        <p ng-repeat="armor in global.inventory.armors | filter:{equipped:false}">
            {{armor.name}}
        </p>
    </div>
</md-content>
