<header flex="none" ng-show="$root.kUserLogged">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h1 flex>
                Kafhe
            </h1>
            <span flex></span>

            <p>{{global.user.username}}</p>
            <md-button ng-click="resetBBDD()" class="md-warn md-raised">Reset BBDD</md-button>
            <p>Estado partida: </p>
            <md-button ng-click="gameStatus(0)" class="md-icon-button">0</md-button>
            <md-button ng-click="gameStatus(1)" class="md-icon-button">1</md-button>
            <md-button ng-click="gameStatus(2)" class="md-icon-button">2</md-button>
            <md-button ng-click="gameStatus(3)" class="md-icon-button">3</md-button>
            <md-button ng-click="gameStatus(4)" class="md-icon-button">4</md-button>
            <md-button ng-click="logout()" class="md-primary md-raised">Logout</md-button>

            <md-button class="md-icon-button">
                <md-icon>fingerprint</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</header>
