<footer layout="row" flex="auto">
    <div flex="40">
        <p>Esta es la forja {{global.user.username}}</p>

        <p>Pedruscos {{global.inventory.stones}}</p>

        <!--<p>Inventario {{global.inventory}}</p>-->
    </div>


    <div flex="20">
        <p>Armería</p>

        <p>Armas</p>

        <p ng-repeat="weapon in global.inventory.weapons | filter:{equipped:false}">
            {{weapon.name}}
        </p>

        <p>Armaduras</p>

        <p ng-repeat="armor in global.inventory.armors | filter:{equipped:false}">
            {{armor.name}}
        </p>
    </div>
</footer>
