#forge md-tabs md-tab-item:not([disabled]) {
    color: #999;
}

#forge md-tabs md-tab-item:not([disabled]).md-active {
    color: #673AB7;
}

#forge md-tabs md-ink-bar {
    background-color: #673AB7;
}

p.title {
    margin: 0;
    font-size: 1.4em;
    color: #673AB7;
    font-weight: bold;
}

.stone {
    color: #673AB7;
    font-weight: bold;
    margin: 0;
}

.stone md-icon {
    vertical-align: bottom;
    color: inherit;
}
