header {
    background-color: royalblue;
    transition: all 1s ease 0s;
}

footer {
    transition: all 1s ease 0s;
    background-color: #004d40;
    color: whitesmoke;
}

#nav-menu {
    transition: all 1s ease 0s;
    background-color: #00E676;
}

#content {

}

.growl-item {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}