body {
    overflow-x: hidden;
}

header {
    transition: all 1s ease 0s;
    z-index: 20;
}

#main-container {
    z-index: 10;
}

footer {
    transition: all 1s ease 0s;
    color: whitesmoke;
    z-index: 1;
}

#content {

}

md-content {
    background-color: #f5f5f5;
}
