body {
    overflow-x: hidden;
}

header {
    background-color: royalblue;
    transition: all 1s ease 0s;
}

footer {
    transition: all 1s ease 0s;
    background-color: #004d40;
    color: whitesmoke;
}

#content {

}

md-content {
    background-color: #C7C7C7;
}
