#profile-menu {
    background-color: #00897B;
    flex-basis: 30%;
    z-index: 15;
}

#profile-menu.ng-hide-add, #profile-menu.ng-hide-remove {
    transition: all ease-out 0.3s;
}

#profile-menu.ng-hide {
    flex-basis: 0;
}

