<footer layout="row" flex="auto">
    <div flex="40">
        <p>Reputation: {{global.user.game.stats.reputation}}</p>

        <p>Action Points: {{global.user.game.stats.action_points}}</p>

        <p>Fury: {{global.user.game.stats.fury}}</p>

        <p>Esta es la forja {{global.user.username}}</p>

    </div>

    <div flex>
        <ul>
            <li ng-repeat="skill in global.skills track by id">
                <a href="#" ng-click="showTargets(skill.id, $event)">{{ skill.name + ' ('+skill.uses+')' }}</a>
            </li>
        </ul>
    </div>
</footer>
